@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
  --color-1st: #FF0050;
  --color-1st-rgb: 255, 0, 80;
  --color-1st-lighter-50: #FF4A75;
  --color-2nd: #00F2EA;
  --day-width: 30px;
  --day-height: 30px;
  --day-padding: 5px;
}

* {
  font-family: 'Nunito', sans-serif;
}

html,
.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-table {
  margin-top: 20px;
  padding: 50px;
  border: solid 5px var(--color-1st);
  border-radius: 15px;
  color: #999;
}

.calendar-table th {
  text-transform: uppercase;
  color: var(--color-2nd);
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.0rem;
}

.calendar-table td {
  text-align: center;
  padding: var(--day-padding);
  font-size: 0.9rem;
}

.calendar-table td {
  position: relative;
  width: var(--day-width);
  height: var(--day-height);
}

.calendar-table td.passed {
  background-color: var(--color-1st-lighter-50);
  color: #fff;
  border-radius: 50%;
}

.calendar-table td.today {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
  background-color: var(--color-1st);
}

.calendar-table td.continuous::after {
  z-index: -1;
  content: ' ';
  position: absolute;
  right: calc(var(--day-width) / 2);
  top: 0;
  display: block;
  padding: var(--day-padding);
  width: calc(var(--day-width) + 10px);
  height: var(--day-height);
  background-color: var(--color-1st-lighter-50);
  border-radius: 5px;
}